{% extends "base.html" %}
{% load static %}

{% block head %}
  <script>
    var delete_company_url = "{% url 'company:delete' %}";
    var leave_company_url = "{% url 'company:leave' %}";
  </script>
  <script src="{% static 'company/js/list.js' %}"></script>
{% endblock %}

{% block add_to_navbar %}
  <a type="button" role="button" href="{% url 'company:create' %}" class="btn btn-outline-light border-0">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" viewBox="0 0 448 512" fill="currentColor">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
      </svg>
    </div>
  </a>
{% endblock %}

{% block content %}
<div class="container">

  <div class="text-center mb-5">
    <h3>Сиз админ булган компаниялар:</h3>
  </div>

  {% for company in admin_companies %}

    <div id="card-admin-{{ company.pk }}" class="card mb-5">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <span class="avatar avatar-text rounded-3 me-4 mb-2">logo</span>
          <div class="row flex-fill">
            <div class="col-sm-4">
              <a href="{% url 'company:details' company.pk %}" class="h5">{{ company.name }}</a>
              <br class="mb-3">
              <span class="badge bg-success">{{ company.admins_counter }} админлар</span>
              <span class="badge bg-primary">{{ company.agents_counter }} складчилар</span>
            </div>
            <div class="col-sm-4 py-2">
              <span class="badge border text-dark border-dark p-3">{{ company.address|truncatechars:35 }}</span>
            </div>
            <div class="col-sm-4 text-lg-end py-2">
              <a href="{% url 'main:dashboard' company.pk %}" class="btn btn-primary px-3 py-2 me-4">Кириш</a>
              <button class="btn btn-danger px-3 py-2 delete-company" data-pk="{{ company.pk }}" >
                Очириб ташлаш
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% empty %}

    <h3 class="text-center mb-5 fw-bold">Хозирча йук</h3>

  {% endfor %}

  <div class="text-center mb-5">
    <h3>Сиз агент булган компаниялар:</h3>
  </div>

  {% for company in agent_companies %}

    <div id="card-agent-{{ company.pk }}" class="card mb-5">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <span class="avatar avatar-text rounded-3 me-4 mb-2">logo</span>
          <div class="row flex-fill">
            <div class="col-sm-4">
              <a href="{% url 'company:details' company.pk %}" class="h5">{{ company.name }}</a>
              <br class="mb-3">
              <span class="badge bg-success">{{ company.admins_counter }} админлар</span>
              <span class="badge bg-primary">{{ company.agents_counter }} агентлар</span>
            </div>
            <div class="col-sm-4 py-2">
              <span class="badge border text-dark border-dark p-3">{{ company.address|truncatechars:35 }}</span>
            </div>
            <div class="col-sm-4 text-lg-end py-2">
              <a href="{% url 'traffic:agent-order-list' company.pk %}" class="btn btn-primary px-3 py-2 me-3">Кириш</a>
              <button class="btn btn-danger px-3 py-2 leave-company" data-pk="{{ company.pk }}" >
                Чикиб кетиш
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% empty %}

    <h3 class="text-center mb-5 fw-bold">Хозирча йук</h3>

  {% endfor %}

</div>

<style>
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #E3E9EE;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: 1rem;
  }

  .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.5rem 1.5rem;
  }

  .avatar-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #000;
      color: #fff;
      font-weight: 700;
  }

  .avatar {
      width: 4rem;
      height: 4rem;
  }

  .rounded-3 {
      border-radius: 0.5rem!important;
  }

  .mb-2 {
      margin-bottom: 0.5rem!important;
  }

  .me-4 {
      margin-right: 1.5rem!important;
  }
</style>
{% endblock %}