{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'main/form_styles.css' %}">
{% endblock %}

{% block content %}

  <div class="px-md-4 px-1">
    <nav id="breadcrumb" aria-label="breadcrumb">
      <ol id="ol" class="breadcrumb px-3 px-md-5">
        <li class="breadcrumb-item h4">
          <a href="{% url 'main:dashboard' company.pk %}">Асосий меню</a>
        </li>
        <li class="breadcrumb-item h4">
          <a href="{% url 'traffic:order-list' company.pk %}">Буюртмалар</a>
        </li>
        <li class="breadcrumb-item active h4" aria-current="page">Батафсил</li>
      </ol>
      <hr style="height: 2px;border-color:black;background:black;opacity:1;">
    </nav>

    <div class="container" style="height:100%; display: flex; justify-content: center;">
      <div class="d-flex align-items-center pb-5" style="width: 60%">
        <div class="col-12 col-md-12 col-lg-12  pb-5 mx-auto">
          <form class="body-form">

            <h3 class="mb-4 text-center fw-bold">Буюртма</h3>
            <label>Берувчи склад</label>
            <select class="form-control mb-3" disabled>
                <option>{{ order.source.name }}</option>
            </select>
<!--                customer_name = models.CharField(max_length=255)
    customer_address = models.CharField(max_length=512)
    customer_phone = models.CharField(max_length=16)-->
            <label>Мижоз исми</label>
            <input class="form-control mb-3 text-decoration-none" value="{{ order.customer_name }}" readonly>

            <label>Мижоз адреси</label>
            <input class="form-control mb-3 text-decoration-none" value="{{ order.customer_address }}" readonly>

            <label>Мижоз телефон раками</label>
            <input class="form-control mb-3 text-decoration-none" value="{{ order.customer_phone }}" readonly>

            <label>Махсулотлар</label>
            <ul class="list-group mb-3" style="background-color:#e9ecef">
              <li class="list-group-item" style="background-color:#e9ecef">
                {{ order.data|linebreaks }}
              </li>
            </ul>

            <label>Яратилган</label>
            <input class="form-control mb-3 text-decoration-none" value="{{ order.created_at }}" readonly>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
