{% extends "accounts/auth/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'main/form_styles.css' %}">
{% endblock %}

{% block content %}

  <div class="container" style="height:100%; display: flex; justify-content: center;">
    <div class="d-flex align-items-center pb-5" style="width: 60%">
      <div class="col-12 col-md-12 col-lg-12  pb-5 mx-auto">
        <form class="body-form" method="post">

          {% csrf_token %}
          <h3 class="mb-4 fw-bold">Аккаунт Яратиш</h3>

          {% if form.errors %}

            <p>Хатоларни тугирланг:</p>

            {% for field in form %}

              {% if field.errors %}

                <div class="alert alert-primary" role="alert">
                  {{ field.label }}: {{ field.errors|striptags }}
                </div>

              {% endif %}

            {% endfor %}

          {% endif %}

          <label>{{ form.username.label}}<span class="text-danger"> *</span></label>
          {{ form.username }}

          <label>{{ form.first_name.label }}<span class="text-danger"> *</span></label>
          {{ form.first_name }}

          <label>{{ form.last_name.label }}<span class="text-danger"> *</span></label>
          {{ form.last_name }}

          <label>{{ form.password.label}}<span class="text-danger"> *</span></label>
          {{ form.password }}

          <label>{{ form.password2.label}}<span class="text-danger"> *</span></label>
          {{ form.password2 }}

          <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit">
            Яратиш
          </button>

          <p class="text-center">
            <a href="{% url 'accounts:login' %}" class="h5">
              Аккаунтим бор
            </a>
          </p>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
